MINIAUTH_ISSUER=https://auth.liuyidi.me
MINIAUTH_CLIENT_ID=minikb
MINIAUTH_REDIRECT_URI=http://127.0.0.1:3000/login/callback
MINIKB_PUBLIC_ORIGIN=http://127.0.0.1:3000
MINIKB_SESSION_SECRET=change-me-to-at-least-32-characters!!
MINIKB_API_URL=http://127.0.0.1:8080
MINIKB_AUTH_DISABLED=true
